params {
    outdir = './results'
    input = false
    genome = //'GRCh38'
    single_end = false
    
    
    // ALIGNERS \\

    // STAR
    aligner = 'star'
    star_idxist = true
    star_params = false
    te_quantification= true
    
    
    //QC \\
    // MULTIQC
    skip_multiqc = false
    multiqc_conf = "${baseDir}/assets/multiqc_config.yaml"
    


}


// include the genome and cluster configuration files
includeConfig './conf/base.config'
profiles {

    singularity {
        process.container = '/rnaseq_v0.0.1-2022.simg' //considering credentials *
        singularity.enabled = false
        singularity.autoMounts = false

    }
}
